body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FCFCFC;
  position: relative;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 1.9rem;}
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

article section h2 { font-size: 2.3rem; font-weight: bold;}


p{
  font-size: 1.7rem;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
ul{
  list-style: disc;
}
ol{
  list-style: decimal;
}
header,
footer {
  margin: 4rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
}

.container {
  width: 90%;
  max-width: 620px;
}

.header-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

#darkModeToggle{
  cursor: pointer;
  margin-right: 15px;
}

.site-title{
  margin-top: 2rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.site-title img{
  width: 25px;
  float: left;
}
.entry-title {
  margin-bottom: 0;
}
h1.entry-title{
  text-align: center;
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
}
.entry-title a {
  text-decoration: none;
}
.single .entry-meta{
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}
.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}
.footer-link a{
  padding: 10px;
}

ul.index_category{
  margin: 0;
  float: left;
}
ul.index_category li{
  list-style: none;
  padding: 0;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  background: #f3d8d8;
}
ul.index_category li a{
  text-decoration: none;
  padding: 0 5px;
  color: #5c5454;
  font-size: 14px;
}

li  {
  font-size: 1.7rem;
}

li > P{
  margin-bottom: 0px;
}

header{
  text-align: right;
  padding-right: 20px;
  border-bottom: 1px dashed black;

}
header h1{
  position: relative;
}

.nav-links li{
  list-style: none;
}
.nav-links li a{
  font-size: 18px;
  color: #2285A4;
}
.nav-links img{
  width: 20px;
}
.toggle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-top: none;
  position: absolute;
  right: -30px;
  top: 10px;
}
a.button.all-articles{
  margin-top: 35px;
}
main.homepage h1 .emoji, div.homepage-articles h1 .emoji, .all-articles .emoji{
  margin-right: 10px;
}
aside.toc{
  position: absolute;
  left: calc(100% + 40px);
  width: 200px;
  text-align: left;
  padding-right: 28px;
}
.related{
  padding: 2rem 4rem;
}
.related a{
  text-decoration: none;
  font-size: 1.7rem;
  transition: all .4s;
}
.related a:hover{
  color: #0d789a;
}
.comment-subscribe input{
  margin-right: 10px;
}
pre {
  background: linear-gradient(to bottom, #bcd08c, #cc6b78);
  padding-left: 3px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
code{
  border-radius: 0;
  white-space: normal;
}

pre code{
  padding-left: 10px !important;
}

#hp{
  width: 100%;
}

#mc_embed_signup{
  border: 5px solid #99970433;
  padding: 10px;
  position: relative;
  background: #d0cf6f33;
}
#mc_embed_signup h3{
  margin: 0;
  color: #867d62;
  margin-bottom: 10px;
}
#mc_embed_signup a{
  color: #d0c6a7;
  transition: .5s all;
}
#mc_embed_signup a:hover{
  color: #5e5b5b;
}
#mc_embed_signup p{
  color: #aa9d76;
  font: 110%;
  margin-bottom: 10px;
}
#mc_embed_signup #close-btn{
  position: absolute;
  z-index: 2;
  right: 4px;
  top: 0;
  font: bold 24px "Source Sans Pro", sans-serif;
  padding: 4px 8px;
  cursor: pointer;
}
#mce-EMAIL{
  width: 100%;
  border: 3px solid #99970433;
  box-shadow: none;
  font-size: 100%;
  color: #84844b;
}
#mc-embedded-subscribe {
  float: right;
  background: #ecec67;
  border: none;
  border-radius: 4px;
  color: #84844b;
  transition: .5s all;
}
#mc-embedded-subscribe:hover{
  background: #d5d56f;
}
#mc_embed_signup p.subtext{
  color: #aa9d76;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 95%;
}

body.darkmode{
  background: #1e1d1d;
}
.darkmode h1.site-title{
  color: white;
}

.darkmode p.tag-line{
  color: white;
}

.darkmode h1, .darkmode h2, .darkmode h3, .darkmode h4,
.darkmode h5, .darkmode h6, .darkmode p, .darkmode li, 
.darkmode .comment-subscribe, .darkmode label{
  color: white;
}

.darkmode blockquote p{
  color: #a3a3a3;
}

.darkmode .nav-links li a, .darkmode a{
  color: #aeaeae;
}

.darkmode #comments h3.title{
  background: #838087;
}

.darkmode .btn-primary.comment-buttons, .darkmode .comment__reply button{
  background: #838087 !important;
  border-color: #838087 !important;
}

.darkmode .btn-primary.comment-buttons:hover, .darkmode .comment__reply button:hover{
  background: #6c6a6e !important;
  border-color: #6c6a6e !important;
}
.darkmode code{
  background: #282626;
}
.darkmode input[type="email"], .darkmode input[type="number"], 
.darkmode input[type="search"], .darkmode input[type="text"],
.darkmode input[type="tel"],.darkmode input[type="url"],
.darkmode input[type="password"],.darkmode textarea{
  background: grey;
  border: 0px;
  color: white;
}
.darkmode ::-webkit-input-placeholder{
  color: white;
}
.darkmode ul.index_category li{
  background: #817d7d;
}
.darkmode ul.index_category li a{
  color: #dddddd;
}
.darkmode a:hover{
  color: grey;
}
.darkmode .post-comment{
  background-color: #393838;
}
.darkmode .post-comment.reply{
  background-color: #625f5f;
}
.darkmode .arrow-up{
  border-bottom: 20px solid #625f5f;
}
.darkmode .post-comment{
  color: white;
}
.darkmode .dialog{
  background-color: #302f2f;
}
.darkmode #mc_embed_signup{
  background-color: #4f4f4f;
}
.darkmode #mce-EMAIL{
  color: white;
}
@media (max-width: 1050px) {
  .header-logo{
    display: none;
  }
  .hide-nav .nav-links{
    display: none;
  }
  .hide-nav .tag-line{
    display: none;
  }
  .hide-nav .toggle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    border-bottom: none;
    position: absolute;
    right: -30px;
    top: 10px;
  }
  article.single{
    padding-bottom: 3rem;
  }
}

@media (min-width: 1050px) {
  header{
    position: absolute;
    right: calc(100% + 40px);
    width: 180px;
    text-align: right;
    padding-right: 28px;
    border-bottom: none;
    background: url('/images/map.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 00px 90px;
  }
  .toggle{
    display: none;
  }
  main{
    background: white;
    border: 1px solid #eae9e9;
  }
  main.homepage{
    padding: 4rem;
    border: 6px solid #FFC107;
    box-shadow: 6px -6px 0px #eae9e9;
    margin-right: -40px;
  }
  main.homepage p{
    margin-bottom: 0px;
  }
  div.homepage-articles, main.all-articles{
    padding: 4rem;
    background: white;
    border: 6px solid #9a6bcc;
    box-shadow: 6px -6px 0px #eae9e9;
    margin-right: -40px;
  }
  div.homepage-articles article:last-of-type span, main.all-articles article:last-of-type span{
    margin-bottom: 0px;
  }
  div.homepage-articles h1 {
    margin-bottom: 30px;
  }
  article.single{
    padding: 4rem;
  }
  main.single-main{
    border: 6px solid #9a6bcc;
    box-shadow: 6px -6px 0px #eae9e9;
    margin-right: -80px;
  }
  .darkmode main.single-main, .darkmode .homepage-articles,
  .darkmode .homepage, .darkmode main.all-articles{
    box-shadow: none;
    border: 6px solid #838087;
    background: #393838;
  }
  .site-title img{
    display: none;
  }
  footer{
    margin-right: -40px;
  }
  footer .hr{
    display: none;
  }
}

blockquote{
  border-left: 5px solid #d4d0d0;
  padding-left: 15px;
  margin-left: 0px;
  color: gray;
}
.comments-emoji {
  margin-right: 5px;
}














/* Staticman comment section and form */

.post-comments {
}
#comments h3.title{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 4rem;
  background: #9a6bcc;
  color: white;
}
#comments .title a{
  text-decoration: none;
  color: white;
}
.post-comments h3.prompt{
   margin-top: 2rem;
}
.post-comment {
   background-color: white;
   padding: 2rem 4rem;
}
.post-comment.reply{
  background: #f3f0f0eb;
  position: relative;
}
.arrow-up{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f3f1f1;
  position: absolute;
  top: -20px;
}
.post-comment:first-of-type {
}
.post-comment:last-of-type {
}
.post-comment-header {
   margin-bottom: 20px;
}
.post-comment .comment-message{
  font-size: 1.7rem;
}
.post-comment-avatar {
   display: inline-block;
   vertical-align: middle;
   border-radius: 50%;
}

.post-comment-info {
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 0;
   vertical-align: middle;
}
.comment__reply{
  text-align: right;
  margin-top: 10px;
}
.comment__reply button{
  background: #9a6bcc;
  color: white;
  border: none;
  transition: all .2s;
}
.comment__reply button:hover{
  border: none; 
  background: #996bccd1;
}
/* Part of blog subscription also */
.post-comment-field, .post-blogsubscriber-btn {
   display: block;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   outline-color: #9b6bcc;
   width: 100%;
}

.btn-primary.comment-buttons {
   background: #9b6bcc !important;
   border-color: #9b6bcc !important;
   color: white;
   border-radius: 6px;
}

.btn-primary.comment-buttons:focus, .btn-primary.comment-buttons:hover {
   background: #7c51a2 !important;
   color: white;
}

.darkmode .btn-primary.comment-buttons:focus, .btn-primary.comment-buttons:hover{
  background: #838087 !important;
}

.post-comment-info .post-comment-name {
   font-size: 2rem;
   font-weight: 500;

}

.post-comment-info .post-time {
   font-size: 14px;
   font-weight: normal;
   letter-spacing: 0.03em;
   color: #888;

}

.post-comment-info .post-time:hover {
   color: #9b6bcc;
}

.post-new-comment {
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 4rem;
    padding-top: 0rem;
}


/* End staticman comment section and form */

/* Staticman comment submission confirmation dialog */

.dialog {
   display: none;
   position: fixed;
   background-color: rgb(247, 247, 247);
   padding-top: 20%;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
}

.dialog:target {
   display: block;
}
.dialog h3{
   font-size: 25px;
   font-weight: bold;
}

.dialog .btn-primary.comment-buttons.ok {
   width: 7rem;
   display: inline-block;
   text-decoration: none;
}

/* End staticman comment submission confirmation dialog */

/* Notify me of new comments checkbox */

input[type=checkbox].checkbox {
   display: none;
}

.checkbox-label {
   position: relative;
   padding-left: 0px;
   padding-bottom: 0px;
   margin-top: 10px;
   margin-bottom: 15px;
   float: left;
}

.checkbox-label:before {
   content: ' ';
   display: inline-block;
   width: 25px;
   height: 25px;
   border-width: 1px;
   border-style: solid;
   vertical-align: middle;
   position: relative;
   bottom: 2px;color: rgb(169, 169, 169);    
}

.checkbox:checked+.checkbox-label:after {
   content: 'x';
   display: inline-block;
   position: absolute;
   width: 25px;
   height: 25px;
   border-width: 2px;
   line-height: 25px;
   top: 11px;
   left: 1px;
   font-family: sans-serif;
   text-align: center;
}

/* End notify me of new comments checkbox */

/* Subscribe to blog posts */

.post-blogsubscriber-field.left {
   clear: left;
   float: left;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   outline-color: #9b6bcc;
   width: 48%;  
}

.post-blogsubscriber-field.right {
   clear: none;
   float: right;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   outline-color: #9b6bcc;
   width: 48%;  
}

/* End subscribe to blog posts */


@media (max-width: 430px){
  .post-comment-info {
     display: inline-block;
     margin-left: 0px;
     margin-top: 20px;
     margin-bottom: 0;
     vertical-align: middle;
  }
}
