{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}


  		<div id="commentid-{{ ._id }}" class="post-comment reply">
  			<div class="arrow-up"></div>
			<div class="post-comment-header">
				<img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
				<p class="post-comment-info">
					<span class="post-comment-name">{{ .name }}<br><i><small>In reply to {{ $.parentName }}</i></small></span>
					<br>
					<a href="#commentid-{{ ._id }}" title="Permalink to this comment">
						<time class="post-time">{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
					</a>
				</p>
			</div>
			<div class="comment-message">
				{{ .comment | markdownify }}
			</div>
			<div class="comment__reply">
		        <button id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to thread</button>
            </div>
		</div>
  {{ end }}
{{ end }}