{{ partial "header.html" . }}

	<main class="homepage" role="main">
		<span class="git-source">
			<a target="_blank" href="https://github.com/yasoob/personal_blog/tree/master/content/{{ with .File }}{{ .Path }}{{ end }}">Source</a>
		</span>
		<div>
			<h1><span class="emoji">👋</span> Hi everyone!</h1>
			<p>I am <b>Yasoob</b>! You might know me from <a href="https://pythontips.com">Python Tips</a> or <a href="https://book.pythontips.com">Intermediate Python</a>. 
				book. Welcome to my personal blog which is going to be the new home for all of my old and new articles. I will soon
				write a post about why i moved away from wordpress.com.
			<br>
			<br>
			You can turn on "dark mode" by clicking on the moon (right before the RSS icon) in the side-bar. I hope you enjoy your stay 😊
			</p>
		</div>
	</main>
	<div class="homepage_signup">
		<div id="mc_embed_signup">
			<form action="https://wordpress.us3.list-manage.com/subscribe/post?u=20b1036063aec6dbf068cc8c0&amp;id=b8eab6bd54"
			  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
			  novalidate>
			  <div id="mc_embed_signup_scroll">
				<h2>Newsletter</h2><span id="close-btn">×</span>
				<p>If you liked what you read then I am sure you will enjoy a newsletter of the
					content I create. I am also planning to publish my "Practical Python Projects" book soon.
					To stay updated regarding the book and new posts please sign up for the mailing list:</p>
				<div class="mc-field-group">
				  <input placeholder="Your Email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div id="mce-responses" class="clear">
				  <div class="response" id="mce-error-response" style="display:none"></div>
				  <div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
					name="b_20b1036063aec6dbf068cc8c0_f6ee678b65" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
					class="button"></div>
				<p class="subtext">I send out the newsletter once every couple of weeks. No spam, I promise</p>
			  </div>
			</form>
		</div>
	</div>
	<div class="homepage-articles" role="main">
		<h1><span class="emoji">✍️</span> Latest Articles</h1>
		{{ range first 10 (where .Pages ".Params.hidefromhome" "!=" "true") }}
			<article itemscope itemtype="http://schema.org/Blog">
				<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></span>
				<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a></h2>
				<p class="wordcount">({{ .WordCount }} words)</p>
			</article>
		{{ end }}
		<a href="/posts" class="button all-articles">All articles</a>
	</div>

{{ partial "footer.html" . }}
