{{ partial "header.html" . }}

	<main class="homepage" role="main">
		<span class="git-source">
			<a target="_blank" href="https://github.com/yasoob/personal_blog/tree/master/content/{{ with .File }}{{ .Path }}{{ end }}">Source</a>
		</span>
		<div>
			<h1><span class="emoji">👋</span> Hi everyone!</h1>
			<p>I am <b>Yasoob</b>! You might know me from <a href="https://practicalpython.yasoob.me">Practical Python Projects</a> or the <a href="https://book.pythontips.com">Intermediate Python</a> book.
			   Welcome to my personal blog which is going to be the new home for all of my old and new articles. You can turn on "dark mode" by clicking on the moon (right before the RSS icon) in the side-bar. I hope you enjoy your stay 😊
			</p>
		</div>
	</main>
	<div class="homepage_signup">
		{{ partial "newsletter.html" .}}
	</div>
	<div class="homepage-articles" role="main">
		<h1><span class="emoji">✍️</span> Latest Articles</h1>
		{{ range first 10 (where .Pages ".Params.hidefromhome" "!=" "true") }}
			<article itemscope itemtype="http://schema.org/Blog">
				<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></span>
				<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a></h2>
				{{ with .Params.teaser }}
					<p class="teaser">{{ . }}</p>
				{{ end }}
				<p class="wordcount">({{ .WordCount }} words)</p>
			</article>
		{{ end }}
		<a href="/posts" class="button all-articles">All articles</a>
	</div>

{{ partial "footer.html" . }}
