{{ partial "header.html" . }}

	<main role="main" class="all-articles">
		<h1 class="list-title"><span class="emoji">✍️</span>{{ .Title | emojify}}</h1>
{{ range .Data.Pages }}
		<article itemscope itemtype="http://schema.org/Blog">
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></span>
			<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title | emojify}}{{ if .Draft }} #Draft{{ end }}</a></h2>
			{{ with .Params.teaser }}
				<p class="teaser">{{ . }}</p>
			{{ end }}
			<p class="wordcount">({{ .WordCount }} words)</p>
			
		</article>
{{ end }}
	</main>

{{ partial "footer.html" . }}