{{ partial "header.html" . }}

	<main role="main">
		<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title | emojify}}</h1>
			<span class="entry-meta">
				{{ if not (.Params.showthedate) }}
				<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
				{{end}}
			</span>

			<section itemprop="entry-text">
				{{ .Content }}
			{{ partial "tags.html" .}}
			<div class="sharethis-inline-share-buttons"></div>
			</section>
		</article>
			{{ partial "comments.html" .}}
	</main>

{{ partial "footer.html" . }}