{{ partial "header.html" . }}

	<main role="main" class="single-main">
		<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
			<span class="git-source">
				<a target="_blank" href="https://github.com/yasoob/personal_blog/tree/master/content/{{ with .File }}{{ .Path }}{{ end }}">Source</a>
			</span>
			{{if isset .Params "featured_image" }}
				<div class="featured-image">
					<img src="{{ index .Params "featured_image" }}">
				</div>
			{{ end }}
			<h1 class="entry-title" itemprop="headline">{{ .Title | emojify}}</h1>
			<span class="entry-meta">
				{{ if not (.Params.showthedate) }}
				<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
				{{end}}
			</span>
			<section itemprop="entry-text">
				{{ .Content }}
			{{ partial "related.html" .}}
			{{ partial "share-buttons.html" .}}
			</section>
		</article>
		{{ partial "newsletter.html" .}}
		{{ partial "comments.html" .}}
	</main>

{{ partial "footer.html" . }}