{{ partial "header.html" . }}

	<main role="main" class="single-main">
		<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title | emojify}}</h1>
			<span class="entry-meta">
				{{ if not (.Params.showthedate) }}
				<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
				{{end}}
			</span>
			<section itemprop="entry-text">
				{{ .Content }}
			{{ partial "related.html" .}}
			{{ partial "share-buttons.html" .}}
			</section>
		</article>
		{{ partial "newsletter.html" .}}
		{{ partial "comments.html" .}}
	</main>

{{ partial "footer.html" . }}